@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');


*{
    font-family: 'Montserrat', sans-serif;

    margin: 15px;
    /* padding: 0px; */
}
.navbar{
    display: flex;
    justify-content: space-between;
}
#logo{
    margin: 0 88px;
}
.nav-items{
    position: absolute;
    left: 34%;
    top: 3%;
    display: flex;
    justify-content: space-between;
}
.nav-item{
    color:#6464e9 ;

    padding: 0 10px;
    font-size:15px;
}
.nav-item:hover{
    cursor: pointer;
}


.signin-btn{
    color: #FFFF;
    width: 8%;
    height: 5%;
    position: absolute;
    left: 82%;
    top: 4%;
    font-size: 19px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #DB0B5F,#6F00ED);
    /* background-color: #FD297A #9424F0; */
  /* border:1px  linear-gradient(to right, #DB0B5F,#6F00ED); */
}
.signin-btn:hover{
    cursor: pointer;
}

.intro-section{
    display: flex;
    justify-content: space-between;
}

.left-section h1{
    color:#6464e9 ;
    position: absolute;
    top: 35%;
    left: 8%;
    font-size: 64px;

}
.left-section h4{
    position: absolute;
    width: 18%;
    top: 53%;
    left: 9%;
    color: #918b8b;
}
.learn-more-btn{
    font-size: 25px;
    background-image: linear-gradient(to right, #DB0B5F,#6F00ED);
color: #FFFF;
    position: absolute;
    top: 74%;
    left: 9%;
    padding: 15px 32px;
    border-radius: 25px;
    border: 1px solid;
}
.learn-more-btn:hover{
cursor: pointer;
}
.imgs-div{
    display: flex;
    position: absolute;
    left: 37%;
    height: 179%;
    top: 15%;
  

}
.vector-img{
    position: absolute;
    top: 30%;
    left: 1%;

}

.vector-dot{
    position: absolute;
    top: 30%;
    left: 12%;

}
#intro-img{
    height: 48%;
}